@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
      font-family: "Poppins", system-ui, sans-serif;
    }
  }

.active_button {
  @apply bg-accent shadow-white
}
.info_success {
    background-color: #74E291;

}
.info_danger {
    background-color: #DF2E38;
}
.info_warming {
    background-color: #F9D923;
}
